<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>{{title}}</title>
</head>

<body style="margin:0;font-family:arial">
    <table style="border:0;width:100%;">
        <tr>
            <td style="padding:20px;color:#808080;font-size:16px;font-weight:100">
                {{text1}}<br>
                {{text2}}.<br>
                {{text3}}<br>
                {{text4}}
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <a href="{{url}}"
                    style="display:inline-block;padding:20px;background:#00838f;text-decoration:none;color:#ffffff">{{actionTitle}}</a>
            </td>
        </tr>
    </table>
    <div dir="ltr">
        <table style="color:rgb(34,34,34);border:none;border-collapse:collapse">
            <tbody>
                <tr style="height:28.75pt">
                    <td style="vertical-align:top;padding:0pt 5.4pt;overflow:hidden">
                        <p dir="ltr" style="text-align:center;line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                            <font color="#f37021" face="Lato, sans-serif"><span style="font-size:10.6667px"><b>PHÒNG
                                        NHÂN SỰ</b></span></font>
                        </p>
                    </td>
                    <td colspan="2" style="vertical-align:top;padding:0pt 5.4pt;overflow:hidden">
                        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><br></p>
                    </td>
                </tr>
                <tr style="height:38.7pt">
                    <td style="vertical-align:top;padding:0pt 5.4pt;overflow:hidden">
                        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span
                                style="font-size:11pt;font-family:Arial;color:rgb(0,0,0);background-color:transparent;vertical-align:baseline"><span
                                    style="border:none;display:inline-block;overflow:hidden;width:100px;height:56px"><img
                                        src="https://lh6.googleusercontent.com/oZiUGIlOLXU695jWKDvV50zYwoTnrJ5UtgHiND0Q6OzaKoPlUahq02p_9qPmjCaLMpeHeG7E2f5K9efIBYyPuQfeQkAg2jULCZl5qwz7Lc03BKUqtgqaoOwC4jgZdFQVAMRAWHHC_BGR"
                                        width="100" height="56" style="margin-left:0px;margin-top:0px" crossorigin=""
                                        class="CToWUd" data-bit="iit"></span></span></p>
                    </td>
                    <td style="vertical-align:top;padding:0pt 5.4pt;overflow:hidden">
                        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span
                                style="font-size:7pt;font-family:&quot;Chakra Petch&quot;,sans-serif;color:rgb(243,112,33);background-color:transparent;font-weight:600;vertical-align:baseline">VMO
                                HOLDINGS</span></p>
                        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                            <font color="#000000" face="Lato, sans-serif" size="1">5Fl, IDMC Tower, số 21 Duy Tan,
                                Hanoi, Vietnam</font><br>
                        </p>
                    </td>
                    <td style="vertical-align:top;padding:0pt 5.4pt;overflow:hidden">
                        <p dir="ltr" style="line-height:1.2;margin-left:6.05pt;margin-top:0pt;margin-bottom:0pt"><span
                                style="font-size:7pt;font-family:Lato,sans-serif;color:rgb(243,112,33);background-color:transparent;vertical-align:baseline">T
                                &nbsp;&nbsp;</span><span
                                style="font-size:7pt;font-family:Lato,sans-serif;color:rgb(0,0,0);background-color:transparent;vertical-align:baseline">02433120103</span>
                        </p>
                        <p dir="ltr" style="line-height:1.2;margin-left:6.05pt;margin-top:0pt;margin-bottom:0pt"><span
                                style="font-size:7pt;font-family:Lato,sans-serif;color:rgb(243,112,33);background-color:transparent;vertical-align:baseline">E&nbsp;</span><span
                                style="font-size:7pt;font-family:Lato,sans-serif;color:rgb(0,0,0);background-color:transparent;vertical-align:baseline"><a
                                    href="mailto:info@vmogroup.com" style="color:rgb(17,85,204)"
                                    target="_blank">info@vmogroup.com</a></span></p>
                        <p dir="ltr" style="line-height:1.2;margin-left:6.05pt;margin-top:0pt;margin-bottom:0pt"><span
                                style="font-size:7pt;font-family:Lato,sans-serif;color:rgb(243,112,33);background-color:transparent;vertical-align:baseline">W&nbsp;&nbsp;</span><span
                                style="font-size:7pt;font-family:Lato,sans-serif;color:rgb(0,0,0);background-color:transparent;vertical-align:baseline"><a
                                    href="http://vmogroup.com/" style="color:rgb(17,85,204)" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=http://vmogroup.com/&amp;source=gmail&amp;ust=1716481984246000&amp;usg=AOvVaw1MUhvGzH6WqnffoG3B6arc">vmogroup.com</a></span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>